## 21 sep 2019

### Conditional statements

**simpleif**
**if-else**
**else if** 
**nested if**

In [4]:
a=10
if a==10:
     print("equal")
else :
     print("not equal")

equal

In [6]:
a=10;b=20;c=30
if a>b and a>c:
     print("a is largest number")
elif b>a and b>c:
    print("b is largest number")
else:
    print(c, "is largest number")

30 is largest number

In [12]:
## nested if
if a>b:
    if a>c:
       print("a is the largest")
elif b>c:
        print("b is largest")
else:
        print("c is largest")

c is largest

## loops

## for loop

In [ ]:
for temp_var in sequence

In [14]:
for i in 1,2,3:
    print(i)

1
2
3

In [16]:
"y" in "yoji"

True

In [ ]:
for i in range(start,end,step)

In [17]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [18]:
for i in range(1,20,10):
    print(i)

1
11

In [20]:
str1="apssdc"
for i in str1:
    print(i)

a
p
s
s
d
c

In [22]:
str1="apssdc"
for i in str1:
    print(i,end="")

apssdc

## leap year

In [23]:
a=2016
if(a%4==0):
    print("a is leap year")
else:
    print("a is not a leap year")

a is leap year

In [35]:
i=13
for i in range(10,30):
    print("i is largest")

i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest
i is largest

## LIST

In [39]:

    * List is mutable(we change the data)
    * List[]
    * List can have different data types

SyntaxError: invalid syntax (<ipython-input-39-488e7a8872f3>, line 1)

In [40]:
l1=[1,2,3]
type(l1)

list

In [42]:
l2=[1,2,3,"hii",2.3]
type(l2)

list

In [44]:
l3=[1,2,[3,4]]
type(l3)

list

In [45]:
l3[2][0]

3

In [46]:
l3[2]

[3, 4]

In [47]:
l3[3]

IndexError: list index out of range

## LIST SLICING

In [48]:
l2

[1, 2, 3, 'hii', 2.3]

In [49]:
l2[0:]

[1, 2, 3, 'hii', 2.3]

In [50]:
l2[0:2]

[1, 2]

In [51]:
l2[0:4]

[1, 2, 3, 'hii']

In [52]:
l2[0:5]

[1, 2, 3, 'hii', 2.3]

In [53]:
l2[2:3]

[3]

In [54]:
l2[::-1]

[2.3, 'hii', 3, 2, 1]

In [55]:
l2[:2:]

[1, 2]

In [56]:
l2[1::]

[2, 3, 'hii', 2.3]

In [58]:
l2[::1]

[1, 2, 3, 'hii', 2.3]

In [59]:
l2[0::]

[1, 2, 3, 'hii', 2.3]

In [60]:
l2[:0:]

[]

In [65]:
l2[:-1:]

[1, 2, 3, 'hii']

In [68]:
a="sri padmavathi mahila viswavidyalayam"
b=a.split()
print(b)
type(b)

['sri', 'padmavathi', 'mahila', 'viswavidyalayam']

list

In [71]:
a="sri padmavathi mahila viswavidyalayam"
b=a.split("m")
print(b)
type(b)

['sri pad', 'avathi ', 'ahila viswavidyalaya', '']

list

In [77]:
a="yoji tha"
m=a.split()
"a".join(m)

'yojiatha'

In [81]:
"".join(m)

'yojitha'

## functions on lists

In [83]:
*len
*min
*max
*sorted
*sum

SyntaxError: can't use starred expression here (<ipython-input-83-876105707e2c>, line 4)

In [85]:
li=[34,56,78,12]
len(li)

4

In [87]:
sorted(li,reverse=True)

[78, 56, 34, 12]

In [88]:
li1[::-1]

NameError: name 'li1' is not defined

In [89]:
li1=sorted(li)
li1

[12, 34, 56, 78]

In [91]:
li

[90, 56, 78, 12]

In [92]:
help(list)

Help on class list in module builtins:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Stable sort *IN PLACE*.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [93]:
li

[90, 56, 78, 12]

In [95]:
li.append(122)
li

[90, 56, 78, 12, 122, 122]

In [96]:
li.append(1)
li

[90, 56, 78, 12, 122, 122, 1]

In [97]:
li.clear()
li

[]

In [108]:
li=[1,2,3,1]
list1=li.copy()
list1

[1, 2, 3, 1]

In [102]:
li.count(1)

1

In [105]:
li.index(3)

2

In [109]:
li.index(1,1,4)

3

In [115]:
li.pop(1)

3

In [124]:
li1

[12, 34, 56, 78]

In [127]:
li1

[12, 34, 56, 78]

In [129]:
li1.index(12,2,35)

ValueError: 12 is not in list

In [131]:
li9=[10,20,30,40]
li9

[10, 20, 30, 40]

In [132]:
li9

[10, 20, 30, 40]

In [133]:
li9.pop(2)

30

In [134]:
li9

[10, 20, 40]

In [ ]:
li9.remove(10)

In [137]:
li9

[20, 40]

In [139]:
sorted(li9,reverse=False)

[20, 40]

In [140]:
li9=sorted(li9)
li9

[20, 40]

In [ ]:
l=[1,2,3]
l1=[4,5,6]

## Practice Problems

## leap year

In [147]:
r=int(input())
if (r % 400 ==0 or ( r%4==0  and  r%100 !=0 )):
   print("r is leap year")
else:
   print("r is not a leap year")

2000
r is leap year

## to print the number in range

In [3]:
b=int(input())
def ran(lb,ub):
    for i in range(lb,ub):
        if b==i:
            print(" ",b,"exist")
ran(int(input()),int(input()))

5
1
10
  5 exist

# to claculate the square root of a given number

In [182]:
a=int(input())
num=a**(1/2)
num

625

25.0

## to print n natural numbers using while loop

In [3]:
def a(num):
    i=1
    while(i<=num):
        print(i)
        i += 1  
a(int(input()))

30
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30